/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */
:root {

    /* Colors */
    --brand: #ecf5ff;
    --brand-alt: #44F1A6;
    --action: #fbfdff;
    --action-alt: #cce2e1;
    --base-lightest: #b4d9e9;
    --base-lighter: #b7f3d9;

    /*  inherited colors  */
    --text: #333952;
}

/* set default font style */
html, body {
    font-family: Raleway, sans-serif;
    font-size:22px;
    font-weight: 300;
    background-color: var(--brand);
    width: 90%;
    margin: 0 auto;
  }
/* .hero */
.hero {
  background-color: var(--brand-alt);
  border-radius: 10px;
  margin: 10px auto 10px auto;
}
.hero h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}
.hero .hero-accent {
  color: var(--action);
}
.content {
  overflow: auto;

}  
.nav {
  margin: 1%;
  display: flex;
  justify-content: flex-end;
}
.articles-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .articles-container {
      flex-direction: row;
  }
}
article {
  padding: 10px 10px;
  background-color: var(--base-lighter);
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 0.3s ease;
}
article:hover {
  filter: contrast(150%);
}
article .icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
li {
  display: inline;
  padding: 0.5em;
}
/* .contact-form */
 .contact-form {
     padding: 48px 16px;
     border-radius: 10px;
     margin: 5px 10px;
   }
   
   .contact-form input,
   .contact-form select {
     display: block;
     width: 100%;
     padding: 8px;
     margin-bottom: 16px;
   }
   
   .contact-form textarea {
     display: block;
     width: 100%;
     padding: 8px;
   }
   
   .contact-form label {
     display: block;
     width: 100%;
   }
   
   .contact-form h2 {
     color: var(--base-dark);
     margin-bottom: 16px;
   }
   
   .contact-form input[type="submit"] {
     background-color: var(--action);
     border: 0;
     margin-top: 8px;
     cursor: pointer;
   }
    /* footer */
 footer {
   padding: 16px;
   text-align: center;
 }
 
 .socials-icon {
   width: 40px;
   height: 40px;
 }
/*border: solid red 1px;*/
  