/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */
:root {

    /* Colors */
    --brand: #ecf5ff;
    --brand-alt: #44F1A6;
    --action: #fbfdff;
    --action-alt: #cce2e1;
    --base-lightest: #b4d9e9;
    --base-lighter: #c9e8f7;

    /*  inherited colors  */
    --text: #333952;
}

/* set default font style here */
html, body {
    font-family: Raleway, sans-serif;
    font-size:36px;
    font-weight: 300;
    background-color:#ecf5ff;
    width: 90%;
    margin: 0 auto;
  }

#header {
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #44F1A6;
}

#content {
  overflow: auto;
}
  
/* Add Heading styles here  */
h1 {
  font-family: Raleway, sans-serif;
  font-size:60px;
  font-weight: 400;
}
h2 {

}
h3 {

}
p.shape {
padding: 0px;
border-radius: 100px;
border-color: #44F1A6;
}
  