/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */
:root {

    /* Colors */
    --brand: #ecf5ff;
    --brand-alt: #44F1A6;
    --action: #fbfdff;
    --action-alt: #cce2e1;
    --base-lightest: #b4d9e9;
    --base-lighter: #b7f3d9;

    /*  inherited colors  */
    --text: #333952;
}

/* set default font style */
html, body {
    font-family: Raleway, sans-serif;
    font-size:22px;
    font-weight: 300;
    background-color: var(--brand);
    width: 90%;
    margin: 0 auto;
  }
/* .hero */
.hero {
  background-color: var(--brand-alt);
  border-radius: 10px;
  margin: 10px auto 10px auto;
  border: solid red 1px;
}
.hero h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}
.hero .hero-accent {
  color: var(--action);
}
.content {
  overflow: auto;

}  
.nav {
  margin: 1%;
  border: solid red 1px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
article {
  padding: 10px 10px;
  background-color: var(--base-lighter);
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 0.3s ease;
}
article:hover {
  filter: contrast(150%);
}
article .icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
li {
  display: inline;
  padding: 0.5em;
}
/*border: solid red 1px;*/
  